.projects {
  min-height: 90vh;
  width: 90%;
  margin: 0 auto;
  @include flex(inline, center, row);
}

.project-style {
  padding: 3rem 0;
  width: 70%;
  line-height: 1.5;
  a {
    text-decoration: none;
    color: #38a4d3;
  }
  h3 {
    display: inline;
    transition: all 1s ease;
  }
  span {
    font-weight: 500;
  }
}

.splash {
  display: flex;
  .project-img {
    width: 100%;
    display: flex;
    margin: 0 auto;
    align-self: center;
  }
}
